.product-page-header {
    background: #f8f8f8;
    padding: 6px 0;

    .header_product_top {
        display: flex;
        justify-content: space-between;

        .breadcrumbs_product {
            font-weight: 500;
            font-size: 11px;
            line-height: 18px;
            display: flex;

            .arrow {
                margin: 0 5px;
            }
        }

        .share {
            display: flex;
            align-items: center;
            color: #6e6e6e;
            font-weight: 500;
            font-size: 11px;
            line-height: 18px;
            cursor: pointer;

            .share-img {
            margin-right: 10px;
            }
        }
    }

    .header_product_title {
        display: flex;
        justify-content: center;

        .title {
            padding: 10px 0 24px;
            font-weight: 600;
            font-size: 26px;
            line-height: 36px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
    }

    .header_product_bottom {
        display: flex;
        justify-content: space-between;

        .rating {
            display: flex;

            .reviews {
                margin-left: 6px;
                font-weight: 500;
                font-size: 11px;
                line-height: 18px;
                color: #6e6e6e;
            }
        }

        .count {
            display: flex;
            column-gap: 24px;
            font-weight: 500;
            font-size: 11px;
            line-height: 18px;
            color: #6e6e6e;
  
            .bold {
                font-weight: 600;
                color: #121212;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .product-page-header .header_product_top,
    .product-page-header .header_product_bottom {
        flex-direction: column;
        row-gap: 10px;
    }
}