.main-header {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    margin-top: 32px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
    min-height: 490px;
}

@media screen and (max-width: 700px) {
    .main-header {
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    }
}

@media screen and (max-width: 590px) {
    .main-header {
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .main-header {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}