.slider_product {
    flex-basis: 50%;
    display: flex;
    column-gap: 16px;

    .side_block {
        display: flex;
        flex-direction: column;
        row-gap: 14px;

        .arr_up_down {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .arr_up,
            .arr_down {
                cursor: pointer;
            }
        }

        .small_img {
            width: 94px;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            filter: opacity(0.4);

            &.active {
                filter: none;
            }
        }
    }
}

@media screen and (max-width: 1180px) {
    .slider_product {
        margin-bottom: 30px;

        .slider {
            margin-bottom: 0;

            .side_block {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .slider_product {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .side_block {
            display: none;
        }
    }
}
