.service_item {
    display: flex;

        .service_item_img {
            padding-right: 8px;
        }

        .service_item_description {

            .title {
                font-weight: 600;
            }
        }
}