.paypal-payment {
    margin-top: 25px;

    h2 {
        font-weight: 600;
        font-size: 12px !important;
        line-height: 18px;
        text-transform: uppercase;
        color: #121212;
    }
    .input {
        margin-top: 10px;
        width: 100%;
        background: #f8f8f8;
        border: none;
        min-height: 64px;
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #9c9c9c;
        outline: 0;
        margin-bottom: 5px;
    
        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #9c9c9c;
        }
        &:focus::placeholder {
            color: transparent;
        }
    }
}

