.header {
    .header_contacts {
        background: #121212;
        padding: 6px 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_nav {
        background: #fff;
        border-bottom: 2px solid #f8f8f8;
        padding: 8px 0;
    }
  }

@media screen and (max-width: 470px) {
    .header_nav_logo {
        width: 80%;
    }
}