.breadcrumbs {
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    display: flex;

    .home {
        color: #6e6e6e;
        padding-right: 6px;
        cursor: pointer;
        text-decoration: none;
    }

    .current_page {
        padding-left: 6px;
        text-transform: capitalize;
    }
}