.footer_subscriber {
    background: #121212;
    border-bottom: 2px solid #f8f8f8;
    padding: 12px 0;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer_text {
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0.06em;
                color: #fff;
            }

            .footer_email {
                display: flex;

                .footer_input {
                    min-width: 400px;
                    background: #414141;
                    border: none;
                    min-height: 32px;
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 18px;
                    color: #9c9c9c;
                    padding-left: 16px;
                    outline: 0;

                    &::placeholder {
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 18px;
                        color: #9c9c9c;
                    }
                }

                .footer_button {
                    margin-left: 12px;
                    background: #121212;
                    border: 1px solid #ffffff;
                    color: #ffffff;
                    padding: 6px 24px;
                    cursor: pointer;
                    letter-spacing: 0.06em;
                    font-weight: 600;
                    line-height: 18px;
                    transition: all .3s ease;

                    &:hover {
                        background: #E6E6E6;
                        color: #121212;
                        opacity: 0.9;
                        border: 1px solid #E6E6E6;
                    }

                    &:active {
                        background: #9C9C9C;
                        color: #fff;
                        opacity: 0.9;
                        border: 1px solid #9C9C9C;
                    }
                }
            }
        }
}

@media screen and (max-width: 888px) {
    .footer_subscriber {
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 14px;
        }
    }
}

@media screen and (max-width: 610px) {
    .footer_subscriber {
        .wrapper {
            .footer_email {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 14px;

                .footer_btn {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .footer_subscriber {
        .wrapper {
            .footer_email {
                .footer_input {
                min-width: 270px;
                }
            }
        }
    }
}