.nice-job {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .info {
        text-align: center;

        h1 {
            font-weight: 600;
            font-size: 26px !important;
            color: #121212;
            line-height: 150%;
            margin-bottom: 15px;
        }
        div {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }
    }
}