.products-page {
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 255px));
        grid-gap: 30px;
        gap: 30px;
        margin: 48px 20px;
        justify-content: center;
    }
}

.goods-counter {
    margin-top: 20px !important;
    padding: 0 0 12px;

    &__body {
        display: flex;
        gap: 32px;
    }

    &__column {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__found {
        font-size: 14px;
        line-height: 22px;
    }

    &__title {
        margin-right: 5px;
        font-size: 14px;
        line-height: 22px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-right: 10px;
        font-size: 14px;
        line-height: 22px;
        opacity: 0.6;
    }
}
